<html>
   <head>
      {% include "metadata.html" %}
      <title>{{ title }}</title>

      <style>
        body {
          background-color: #0b032d;
          color: #ffb997;
          margin: 10px;
        }
        li {
          margin:5px;
        }
        a.label {
          background-color: #ffb997;
          color: #0b032d;
        }

      </style>
   </head>
   <body>
     <ul>
       {% for item in items %}
         <li><a class="label" href="{% raw item['url'] %}">{% raw item['name'] %}  >></a></li>
       {% end %}
     </ul>
   </body>
 </html>
